p {
	margin: 0px;
}
p.double {
	margin-top: 1.5em;
}
p.indented {
	text-indent: 3.0em;
}
hr {
	background-color: #DDDDDD;
	border: none;
	height: 1px;
	padding: 0px;
	margin-bottom: 12px;
	margin-top: 12px;
}
blockquote {
	margin: 0px;
	padding: 15px;
	border: solid 1px #CCCCCC;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #F7F7F7;
}
span.spoiler {
	background-color: #333333;
	color: #333333;
	text-shadow: none;
}
span.spoiler:hover {
	background-color: inherit;
	color: inherit;
	text-shadow: inherit;
}
pre.code {
	font-family: monospace;
	border: 1px solid #ccc;
	outline: 3px solid #eee;
	padding: 10px;
}