p {
	margin: 0;
	margin-top: 1.5em;
}
p:first-child {
	margin-top: 0;
}
hr {
	background-color: #DDDDDD;
	border: none;
	height: 1px;
	padding: 0px;
	margin-bottom: 12px;
	margin-top: 12px;
}
blockquote {
	margin: 0.6em 0;
	padding: 15px;
	border: solid 1px #CCCCCC;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #F7F7F7;
	position: relative;
}
blockquote[data-who] {
	margin-top: 1.6em;
}
blockquote[data-who]::before {
	content: attr(data-who);
	font-weight: bold;
	display: block;
	position: absolute;
	bottom: 100%;
	left: -1px;
	background: #f7f7f7;
	padding: 0.2em 0.7rem;
	padding-bottom: 0px;
	line-height: 1;
	border: solid 1px #cccccc;
	border-bottom: none;
}
span.spoiler {
	background-color: #333333;
	color: #333333;
	text-shadow: none;
}
span.spoiler:hover {
	background-color: inherit;
	color: inherit;
	text-shadow: inherit;
}
em {
	font-style: italic;
}
em em {
	font-style: normal;
}
:not(pre) > code {
	font-family: monospace;
	background-color: #eee;
	padding: .1875rem;
	border-radius: .3125rem;
	line-height: 1.9em;
}
pre code {
	font-family: monospace;
	background-color: #eee;
	border-radius: .3125rem;
	display: block;
	padding: 10px;
	position: relative;
}
pre code::before {
	font-weight: bold;
	background-color: #eee;
	border-radius: .3125rem;
	display: block;
	position: absolute;
	top: -1em;
	right: 0px;
	padding: 10px;
	padding-top: 5px;
	content: "Code";
}
div.indent-1 {
	margin-left: 4ex;
}
div.indent-2 {
	margin-left: 8ex;
}
div.indent-3 {
	margin-left: 12ex;
}
div.indent-4 {
	margin-left: 16ex;
}
span.code-emote {
	color: #268bd2;
}
span.code-quote_ref {
	color: #2aa198;
}
span.code-tag {
	color: #268bd2;
}
span.code-operator {
	color: #586e75;
}
span.code-attr-value {
	color: #859900;
}